<%- include('includes/header') -%>

<main class="carteCrepes">
  <% let currentRestaurant = null; %>

  <% for (let i = 0; i < carteParRestaurant.length; i++) { %>
    <% const crepe = carteParRestaurant[i]; %>

    <% if (crepe.RESTAURANT !== currentRestaurant) { %>
      <% if (currentRestaurant !== null) { %>
        </ul> <!-- Fermez la liste précédente -->
      <% } %>
      <% currentRestaurant = crepe.RESTAURANT; %>
      <h2>CARTE KER ROZENN DE <%= currentRestaurant %></h2>
      <ul>
        <% let categoriesAffichees = new Set(); %>

        <!-- Bouclez sur les produits et affichez-les sous leurs catégories -->
        <% for (let j = i; j < carteParRestaurant.length; j++) { %>
          <% const produit = carteParRestaurant[j]; %>
          <% if (produit.RESTAURANT === currentRestaurant) { %>
            <!-- Vérifiez si la catégorie n'a pas déjà été affichée -->
            <% if (!categoriesAffichees.has(produit.CATE_PRODUIT)) { %>
              
              <li id="categoryTitle"> <%= produit.CATE_PRODUIT.toUpperCase() %></li>
              
              <% categoriesAffichees.add(produit.CATE_PRODUIT); %>

              <!-- Affichez les produits correspondants à cette catégorie avec le prix -->
              <% for (let k = j; k < carteParRestaurant.length; k++) { %>
                <% const produitCategorie = carteParRestaurant[k]; %>
                <% if (produitCategorie.RESTAURANT === currentRestaurant && produitCategorie.CATE_PRODUIT === produit.CATE_PRODUIT) { %>
                  <li>
                    <span class="crepeSort"><%= produitCategorie.PRODUIT %></span>
                    <span class="price"><%= produitCategorie.PRIX.toFixed(2) %> €</span>
                  </li>
                <% } %>
              <% } %>
            <% } %>
          <% } %>
        <% } %>
      </ul>
    <% } %>
  <% } %>
</main>

<%- include('includes/footer') -%>
