<%- include('includes/header') -%>
<script src="../javascript/restaurant.js" defer></script>


<main class="restaurants-panel">
    <h2>Liste des Restaurants</h2>
    <div class="restaurant-grid">
      <% for (let i = 0; i < restaurants.length; i++) { %>
        <div class="row">
          <div class="restaurant">
            <div class="restaurant-image">
        
                <img
                id="restaurant_<%= restaurants[i].ID %>"
                src="<%= restaurants[i].IMAGE %>"
                alt="<%= restaurants[i].NAME %>"
                
              >
              <p><%= restaurants[i].NAME %></p>
              
              <div class="restaurant-info">
                <a class="lien-carte-resto" href="<%= restaurants[i].ID %>/carte">
                  <div class="info-content">
                  <p><%= restaurants[i].NAME %></p>
                  <p><%= restaurants[i].ADRESSE %></p>
                  <span><%= restaurants[i].CP %></span>
                  <span><%= restaurants[i].VILLE %></span>
                    <p><%= restaurants[i].PHONE %></p>
                </div></a>
              </div>
            </div>
          </div>
        </div>
      <% } %>
    </div>
  </main>
  
  

<!--  
    <%- JSON.stringify(restaurants, null, 2) %>
-->


<%- include('includes/footer') -%>